name: Build

on:
  push:
    branches: ["master"]
    tags-ignore: ["*"]
  pull_request:

concurrency:
  group: build-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - run: go build ./...

      - run: go vet ./...

      - run: go test ./...
